.idea/
test-client/target/
*.iml
ReservationsDatabaseBeanRemote/target/
ReservationsDatabaseBean/target/
InventarisationAndReservationSystemMaven-ear/target/
/remoteClient2/target/
/ReservationsTestClient/nbproject/private/
/ReservationsTestClient/build/
/ReservationsTestClient/dist/