.idea/
test-client/target/
*.iml
ReservationsDatabaseBeanRemote/target/
ReservationsDatabaseBean/target/
InventarisationAndReservationSystemMaven-ear/target/
ejb/reservations-root/target/
ejb/user/target//remoteClient2/target/
/ReservationsTestClient/nbproject/private/
/ReservationsTestClient/build/
/ReservationsTestClient/dist/
ejb/user/target/user-0.7/pl/polsl/reservations/user/UserFacade.class
ejb/user/target/
/ejb/remote/target/
ejb/room-management/target/
ejb/user-management/target/
ejb/schedule/target/
